{% extends "index.html" %}

{% block main %}
{% load static %}
  <img src="{% static 'dynamic/owner-profile.jpeg' %}" alt="" height="125px" style="border-radius: 50px;">
  <h1>Acerca de mí</h1>
  <p>¡Hola! Soy Franco, un chico de 16 años de edad que empezó en el mundo de la programación a los 13 años y siempre <br>
Me gusto el mundo de la tecnología y todo lo relacionado con ella; sé HTML, CSS, JS (también con Node, Express y React), Python y siempre estoy buscando la manera.
de aprender más y poder armar proyectos personales, y mis hobbies son: 1. Videojuegos 2. Música y suelo trabajar como programador front end para una empresa familiar.
y mi carrera empezó estudiando en Coderhouse
</p>
{% endblock %}
