{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}
   

{% endblock %}

{% block main %}
<div>
    <center><h3>Bienvenido al listado de consolas</h3></center>
    <center><p>Aqui encontraras un listado de consolas de Playstation y Xbox</p></center>
    <center><a href="">Listado de las consolas</a> <h6>-</h6> <a href="">Agregar una Consola</a></center>
</div>
{% endblock %}
{% block footer %}<p>Derechos reservados &copy; 2024</p>
<p>Creado por Franco Papeschi</p>
{% endblock %}