{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}
   

{% endblock %}

{% block main %}
<div>
    <center><h3>Bienvenido al listado de consolas</h3></center>
    <center><p>Aqui encontraras un listado de consolas de Playstation y Xbox</p></center>
    <div style="display: flex; justify-content: center; gap: 15px;">
        <a href="" style="color: rgb(131, 171, 90);">Listado de las consolas</a>
        <a href="{% url 'agregar-consolas' %}">Agregar una Consola</a>
        <a href="{% url 'agregar-accesorios' %}">Agregar un Accesorio</a>
        <a href="{% url 'agregar-juegos' %}">Agregar un Juego</a>
    </div>
</div>
{% endblock %}
{% block footer %}<p>Derechos reservados &copy; 2024</p>
<p>Creado por Franco Papeschi</p>
{% endblock %}